@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */

  background-image: linear-gradient(rgb(0, 225, 255),rgb(30, 30, 229));
  /* background: #7541f1; */

  /* background-repeat: no-repeat; */
  min-height: 100vh;
}
